<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid" id="containerdivofnav">
        <a class="navbar-brand" href="#"><img class="aplex-logo" src="/assets/logo.png" alt="Aplex Logo"></a>
        <button class="navbar-toggler shadow-none" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-options mx-auto" style="color: black!important;">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productlistingverified">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <ul class="navbar-nav icons-nav" style="gap:30px ;   font-size: larger;" >
                <li class="nav-item">
                    <a href="/cart"><i class="fa-solid fa-cart-shopping" style="color: #4d4d4d;"></i></a>
                </li>
                <li class="nav-item">
                    <a href="/wishlist"><i class="fa-solid fa-heart" style="color: #404040;"></i></a>
                </li>
                <li class="nav-item">
                    <a href="/profile"><i class="fa-solid fa-user" style="color: #525252;"></i></a>
                </li>
                <li class="nav-item">
                    <a href="/logout"><i class="fa-solid fa-sign-out" style="color: #525252;"></i></a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>