

/* Nav bar */
.navbar {
    background-color: rgb(244, 244, 244);
    box-shadow: 0px 0px 7px -2px;
}

.navbar-toggler-icon {
    background-color: transparent;
}
.navbar-options{
    gap: 136px;
    font-weight: 700;

}
.loginsignup-nav{
    gap: 10px;
    margin-right: -87px;
    font-weight: 700;
}
.navbar-toggler-icon {
    background-color: transparent;
    color: rgb(93, 18, 18);
}
.navbar-toggler{
    
    outline: none;
    border: none;
}

.navbar-brand img {
    max-width: 100px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}
.aplex-logo{
    width: 60px
}
@media (max-width: 990px) {
    .navbar-options{
        gap: 0px;
        font-weight: 700;
    
    }
    .loginsignup-nav{
        gap: 0px;
        margin-right: -87px;
        font-weight: 700;
        color: #4461F2;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* login container */

.signup-container{
    /* background-color: #98a9ff; */
    height: 95vh;
    /* position: fixed; */
    width: 100%;
} 
.signup-img{
    /* background-color: cadetblue; */
    width: 45%;
    height: 100%;
    float: left;
    background-image: url(/assets/signupimg.png);
    background-size: 49vh;
    background-position: center;
    background-repeat: no-repeat;

}
.signup-inputs{
    /* background-color: rgb(137, 241, 9); */
    width: 45%;
    height: 100%;
    float: right;
    /* padding-top: 10vh; */
}
#inner-container{
    /* background-color: burlywood; */
    width: 98%;
    height: 60vh;
    margin-top: 94px;
}

#signup-btn{
    margin-top: 69px;
    border-radius: 9px;
    width: 73%;
    height: 41px;
    background-color: #4461F2;
    color: white;
    font-weight: 600;
    margin-left: 86px;
    box-shadow: 0px 0px 5px -1px #4461F2;
 
}
.signup-text{
    font-weight: 700;
    justify-content: center;
    
    height: 54px;
    padding-top: 71px;

}
#dont-have-account{
   
    /* margin-left: 10.5vw; */
    margin-top: 33px;
    text-align: center;
}
.entry{
    font-size: small;
     height: 49px;
     background-color: #DBECFF;
     box-shadow: 0px 2px 13px -8px #000000;
     border-radius: 10px;
     width: 91%;
     margin-left: 25px;
     /* margin-bottom: -23px; */
 
}

@media (max-width:1200px){
    #signup-btn{
        margin-left: 53px;
    }
    #dont-have-account{
        margin-left: 7.5vw;
    }

}
@media (max-width:800px){
    #inner-container{
        display: grid;
        height: 96vh;
        margin-top: 0px;

    }
    #signup-btn{
        margin-left: 50px;
        margin-top: 27px;

    }

    .signup-container{
     height: 98vh;
     
    }
    #dont-have-account{
       text-align: center;
    }
     .entry{
        margin-top: -20px;
         gap: 10px;
     }
    .signup-inputs{
        width: 100%;
        height: 58vh;
        padding-top: 0vh;

        }
    .signup-img{
        width: 100%;
        height: 38vh;
        margin-top: 20px;
        }
}
@media (max-width:990px){
    #dont-have-account{
        margin-left: 45px;
    }
}


/* footer */

.footer{
    background-color: aquamarine;
    height: 30vh;
    width: 100%;
}