.cart-total-container {
  height: auto;
  width: 25vw;
  float: right;
  margin-top: -68vh;
  margin-right: 15px;
  border-radius: 13px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.coupon-input {
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 13px;
  margin-top: 31px;
}

#returntoshopbtn {
  margin-left: 41%;
  margin-top: 18px;
}

.cart-products-listing {
  overflow: scroll;
  height: 62vh;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 16px 0px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cart-products-listing::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space on Webkit browsers */
}

.cart-products-listing {
  scrollbar-width: none;
  /* Firefox */
}

.cart-products-container {
  height: 68vh;
  width: 100%;
  margin-top: 50px;
}

.cart-container {
  height: auto;
  width: 90%;
}

.cartemptyimg {
  width: 39%;
  margin-left: 26vw;
  margin-top: -2vh;
  margin-bottom: 29px;
}

@media (max-width: 1200px) {
  .cart-total-container {
    margin-top: 27px;
    float: left;
    width: 70vw;
    margin-left: 30px;
  }

  .cart-products-container {
    width: 100%;
  }
}

.search-nav {
  width: 100%;
  height: 60px;
}

@media (max-width: 850px) {
  #coupon-code-div {
    display: none;
  }

  .cart-container {
    height: auto;
    width: 100%;
  }

  #returntoshopbtn {
    margin-left: 56%;
    margin-top: 18px;
  }

  .search-bars {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  th {
    font-size: smaller;
  }

  #returntoshopbtn {
    margin-left: 56%;
    margin-top: 18px;
  }
}

.total-values {
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.599);
}

.total-values-container {
  display: grid;
  margin-top: 31px;
  margin-left: 20px;
  margin-right: 20px;
}

.total-texts {
  font-weight: 600;
  color: rgba(85, 85, 85, 0.682);
}

.cart-prices {
  margin-right: 20px;
}

.btn {
  border-radius: 50px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  color: white;
  background-color: #4461f2;
  box-shadow: 0px 0px 5px -1px #4461f2;
  width: 18vw;
  height: 48px;
  margin-top: 39px;
  margin-left: 65px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .btn {
    width: 27vw;
    margin-left: 270px;
  }

  .cartemptyimg {
    width: 39%;
    margin-left: 26vw;
    margin-top: -2vh;
    margin-bottom: 29px;
  }

  #returntoshopbtn {
    margin-left: 27%;
  }
}

@media (max-width: 900px) {
  .btn {
    width: 27vw;
    margin-left: 200px;
  }

  .cartemptyimg {
    margin-left: 13vw;
    margin-top: 5vh;
  }
}

@media (max-width: 700px) {
  .btn {
    width: 42vw;
    margin-left: 97px;
  }

  .cartemptyimg {
    width: 100%;
    margin-left: 0vw;
  }

  #returntoshopbtn {
    margin-left: 26%;
  }
}

@media (max-width: 500px) {
  .btn {
    width: 48vw;
    margin-left: 52px;
  }

  .cartemptyimg {
    width: 100%;
    margin-left: 0vw;
    margin-top: 10vh;
  }
}

@media (max-width: 380px) {
  .btn {
    width: 49vw;
    margin-left: 32px;
  }
}

.btn:hover {
  background-color: #304ee4;
  color: aliceblue;
}

.value-button {
  display: inline-block;
  margin: 0px;
  width: 32px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form .decrease {
  margin-right: -4px;
  border-radius: 22px 0 0 22px;
}

form .increase {
  margin-left: -4px;
  border-radius: 0 22px 22px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

.closebutton {
  border: none;
  background-color: unset;
}

input.number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 35px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.confirm-button {
  width: 119px;
  text-align: center;
  height: 32px;
  background-color: #4461f2;
  border-radius: 7px;
  padding-top: 4px;
  text-decoration: none;
  color: #ddd;
}

.cart-products-listing ::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space on Webkit browsers */
}

.cart-products-listing {
  scrollbar-width: none;
  /* Firefox */
}

#addtocartbtn {
  width: 140px;
  height: 30px;
  background-color: #4f8dff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

#removefromlistbtn {
  width: 140px;
  height: 30px;
  background-color: #636363;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
